@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("../fonts/ptsans.woff"),
    url("../fonts/ptsans.woff2");
}

body {
  background: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
