.content {

}

.content__promo {
  width: 100%;
  height: 159px;
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../../img/intro-triangle.svg), url(../../img/text-sedona.svg), url(../../img/bg-back-mobile@1x.jpg);
  background-position: center bottom, center 55px, center bottom;
  background-repeat: no-repeat;
  background-size: auto, 280px, auto;
  @media (min-width: 768px) {
    height: 290px;
    background-size: auto, 460px, 100%;
    background-position: center bottom, center 95px, center bottom;
  }
  @media (min-width: 1200px) {
    background-size: auto, 480px, cover;
  }
  &--index-page {
    height: 390px;
    background-image: url(../../img/intro-triangle.svg), url(../../img/text-sedona-index.svg), url(../../img/bg-back-mobile@1x.jpg);
    background-position: center bottom, center 90px, center top;
    background-size: auto, 280px, auto;
    @media (min-width: 768px) {
      height: 518px;
      background-position: center bottom, center 80px, center top;
      background-size: auto, 460px, cover;
    }
  }
}


.content__title {
  width: 87.5%;
  margin: 30px auto 0 auto;
//  padding: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  @media (min-width: 600px) {
    width: 560px;
  }
  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.content__desc {
  width: 280px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  @media (min-width: 450px) {
    width: 440px;
  }
}
