.feedback-block {

}

.feedback-block__item {
  margin: 0;
  padding: 0 20px;
  border: none;
  border-top: 1px solid rgba(229, 229, 229, 1);
}

.feedback-block__btn-wrapper {
  width: 100%;
  text-align: center;
}

.feedback-block__btn {
  width: 280px;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 0;
  background-color: @sky-color;
  text-align: center;
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
  outline: none;
  border: none;
}
