.gallery {

}

.gallery__item-wrapper {
  width: 100%;
  padding: 23px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.gallery__item {
  width: 280px;
  margin: 0 auto;
}

.gallery__img-link {
  box-sizing: border-box;
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  text-align: center;
}

.gallery__img {
  display: block;
}

.gallery__title {
  display: block;
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 24px;
}

.gallery__author {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  text-transform: none;
}

.gallery__counter {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 24px;
}

.gallery__thumbs-up-img {
  display: inline-block;
  width: 22px;
  height: 20px;
  margin-right: 10px;
}
