.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 40px 0 20px 0;
  background-color: rgba(254, 254, 254, 1);
}

.main-footer__hashtag {
  margin: 0 0 40px 0;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  @media (min-width: 768px) {
    margin: 0;
    width: 33.3%;
  }
}

.main-footer__social {
  margin: 0 0 40px 0;
  width: 100%;
  @media (min-width: 768px) {
    margin: 0;
    width: 33.3%;
  }
}

.main-footer__copyright {
  width: 100%;
  @media (min-width: 768px) {
    width: 33.3%;
  }
}
