.social {
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}

.social__item {
  margin: 3px;
  background-color: @sky-color;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: auto;
  // &:nth-child(1) {
  //   background-image: url(../../img/icon-twitter.svg);
  // }
  // &:nth-child(2) {
  //   background-image: url(../../img/icon-facebook.svg);
  // }
  // &:nth-child(3) {
  //   background-image: url(../../img/icon-youtube.svg);
  // }
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 0;
}

.social__img {
  vertical-align: middle;
}
